<head>
  <meta charset="UTF-8">
  <title>My Notes</title>
  <link rel="stylesheet" href="Project-2/project-2/assets/css/style.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>

<body>
  <div class="flex-column justify-space-arogit sund">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#000000 My Notes &#000000
      </h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>